@font-face {
  font-family: GTAmerica;
  src: url("/GT-America/GT-America-Mono-Regular-Trial.otf") format("opentype");
}

@font-face {
  font-family: GTAmerica;
  font-style: italic;
  src: url("/GT-America/GT-America-Mono-Regular-Italic-Trial.otf") format("opentype");
}

@font-face {
  font-family: GTAmerica;
  font-weight: bold;
  src: url("/GT-America/GT-America-Mono-Bold-Trial.otf") format("opentype");
}

@font-face {
  font-family: GTAmerica;
  font-weight: bold;
  font-style: italic;
  src: url("/GT-America/GT-America-Mono-Bold-Italic-Trial.otf") format("opentype");
}

:root {
  /* --black: rgb(15, 16, 15); */
  --black: rgb(0, 0, 0);
  /* --light-bg: rgb(208, 208, 216); */
  --light-bg: rgba(237, 237, 237);
  --content-width: min(60vw, 1000px);
  --title-font-size: 18pt;
}

body { 
  margin: 0; 
  background-color: var(--light-bg);
  /* color:white; */
  color: var(--black)
}

.icons img:hover {
  transition:0.3s;
    filter: blur(2px);
}

body::-webkit-scrollbar {
  
  width: 15px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--light-bg);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  
  border-radius:20px;
  box-shadow: inset 0 0 5px var(--light-bg),
  inset 0 0 5px var(--light-bg),inset 0 0 5px var(--light-bg);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: red;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;

}

::selection {
  background: red;
  color:var(--black);
}

.menu-button {
  position:absolute;
  padding:0;
  margin-top: 10px;
  right:min(10vw, 100px);
  height:min(4vw, 30px);
  width: min(4vw, 30px);
  background-color: white;
  border:none;
  transition: .7s;
}

.fixed {
  position: fixed;
  top:0; 
  left:0;
  width: 100%;
  /* padding-top:80px; */
}

.clip {
  width:100%;
  height:100%;

}



.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom:55px;

}


.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.menu {
  padding-top:60px;
}

.hidden {
  opacity:0;
  filter:blur(25px);
}

.topnav:hover .hidden { 
  opacity:1;
  filter:blur(0);
}

.topnav:hover .pages {
  pointer-events: inherit;
}


.none{
  display:none;
}

.pages {
  float: right;
  padding-right: min(10vw, 100px);
  transition:all .7s ;
  
}

.pages::after {
  content: "";
  clear: both;
  display: table;
}

.pages a {
  /* font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: min(4vw, 30px);
  line-height: 48px;
  letter-spacing: 0.055em; */
  font-family: GTAmerica, monospace;
  font-weight: 300;
  font-style: normal;
  font-size: var(--title-font-size);
  line-height: 80%;
  
  color:var(--black);
  text-decoration-color: red;


  padding-left: 40px;
  text-shadow:0px 0px 50px var(--light-bg);

}

.pages a:hover {
  transition:.3s;
  filter:blur(2px);
  color:var(--black);
}

.topnav { 
  position:sticky;
  padding: 0;
  height:200px;
  background: linear-gradient(180deg, var(--light-bg) 0%, rgba(243, 233, 226, .4) 75%, rgba(243, 233, 226, 0) 100%);
  z-index: 1000;
  text-transform: uppercase;
  margin-bottom:30px;
}

h1 a {
  /* margin-top:80px; */
  margin:0;

  
  /* font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200; */
  font-family: GTAmerica;
  font-weight: 300;
  font-style: normal;
  font-size: var(--title-font-size);
  line-height: 80%;
  text-shadow:0px 0px 50px var(--light-bg);
  /* letter-spacing: 0.055em; */
  
  color: var(--black);
  text-decoration: none;
}

.topnav h1 a{
  float:left;
  position: absolute;
  padding-right:0;
  left: min(10vw, 100px);
  margin:0;

}

h1 a:hover {
  transition:.3s;
  filter:blur(2px);
}

h1 a {
  /* transition:.3s; */

}

p {
  /* color: white; */
  font-family: GTAmerica, monospace;
  font-style: normal;
  line-height:30px;
  font-kerning:normal;
  letter-spacing: -.3px;
  font-size:20px;
}

.buffer {
  height: 45vh;
}

.main {
  max-width: var(--content-width);
  margin-left:auto;
  margin-right:min(10vw, 100px);
  z-index: -1000;
  
}

.content {
  display:block;
  width: var(--content-width);
  margin-left:auto;
  -webkit-filter: blur(0px);

  filter: blur(0px);
  z-index: -1000;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  padding-bottom:25px;
  padding-top:25px;
}

.content:hover {

  filter:blur(5px) saturate(0);
  
}



.no-blur:hover{
  filter:blur(0px);
}

.zoom-img:hover {
  transform:scale(102%);
}

.description {
  margin-top:50px;
  margin-bottom:50px;
}

h2 {
  /* color: white; */
  margin-top:0;
  font-family: GTAmerica, monospace;
  font-weight:lighter;
  font-style: normal;
  font-size:25px;
  display:flex;
  align-items: center;
  margin-bottom: 75px;
}

h2::after {
  content: '';
  flex: 1;
  margin-top:5px;
  margin-left: 1rem;
  height: 2px;
  background-color: #000;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

h3 {
  /* color: white; */
  font-family: transducer, sans-serif;
  font-weight: 600;
  font-style: normal;
}


.case-study {
  margin-bottom:100px;
}



a {
  color: rgb(106, 106, 106);
  font-family: transducer, sans-serif;
  font-style:italic;

  transition:0.3s;
  
}

a:hover {
  color:red;
}

.soundcloud{
  height: 275px; 
  overflow:hidden; 
  margin-bottom: 50px;
  margin-top: 50px;

}

button {
  background-color: var(--black);
  color:white;
  border: none;
  padding:15px 15px;
  transition: .3s;
  font-family: transducer, sans-serif;
  font-style:italic;
  font-weight: 600;
  margin-top:20px;
  cursor: pointer;
}

button:hover {
  background-color: red;
  filter: blur(2px);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

hr {
  border: 5px solid white;
  margin-top:50px;
  filter: blur(3px);
}

.active {

text-decoration: underline;
text-underline-offset: 10px;

}

.inactive {

  text-decoration: none;
}

footer {
  height: 150px;
  
    position: absolute;
    padding-right: 0;
    
    margin: 0;
    width:100%;
}

footer p {
  float: left;
  margin-left: min(10vw, 100px);
  margin-top:50px;
}

footer .icons {
  position:static;
  float:right;
  margin-right: min(10vw, 100px);
  margin-top:50px;
  filter:invert();
  
}

.hamburger {
  display:none;
}


@media screen and (max-width: 1300px) {
  .pages a {
    display:block;
    text-align:right;
    line-height:50pt;
    z-index: 10000;
    text-shadow: 0px 0px 10px white,0px 0px 50px var(--light-bg),0px 0px 50px var(--light-bg),0px 0px 50px var(--light-bg),0px 0px 50px var(--light-bg),0px 0px 50px var(--light-bg),0px 0px 50px var(--light-bg),0px 0px 50px var(--light-bg);

    -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  

.menuLinks a{
    display:none;
    
  }
  .menuLinks{
    position: relative;
  }
  .menuLinks::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
 


 }

.responsive a{
  display:block;
}
  
  .hamburger {
    display:block;


  }


  .top-paragraph {}



  p {
    font-size:14pt;
    line-height:30px;
  }

  .main {
    margin-right:auto;
    margin-left:auto;
    padding-right:0px;
    max-width:78%;
  }

  .content {
    padding-right:0px;
    margin:0;
    width:100%;
  }

  .description {
   
  }

  .pages {
    height:0px;
  }

  

  footer p {
    float:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
  }
  footer .icons {
    margin-left:auto;
    margin-right:auto;
    float:none;
    margin-top:20px;
    padding-bottom:50px;
  }

  footer {
    text-align:center;
    
  }

  .menu {
  }

}