/* styles.css */
.video-container {
  width: 200px;
  height: 0px;
  padding-bottom:200px;
  background-color: rgb(255, 0, 0);
  filter: grayscale(100%);
  transition: filter 0.3s;
  cursor: pointer;
}

